{% extends 'base.html' %} 
 {% block title %}Adverts{% endblock title %} 
{% block content %} 
 
  {% for advert in object_list %} 
     <div class="card"> 
       <div class="card-header"> 
        <span class="font-weight-bold">{{ advert.title }}</span> &middot; 
 
        <span class="text-bold">{{ advert.location }}</span><span class="text-muted"> | Seller: {{ advert.seller }} | Posted: {{ advert.date }}</span> 
 
      </div> 
       <div class="card-body"> 
         {{ advert.body }} 
      </div> 
 
      <div class="card-footer text-center text-muted"> 
        <a href="{% url 'advert_edit' advert.pk %}">Edit</a> | 
        <a href="{% url 'advert_delete' advert.pk %}">Delete</a> 
</div> 

 
    </div> 
 
    <br /> 
   {% endfor %} 
 {% endblock content %} 
