{% extends 'base.html' %} 
 {% block title %}Home{% endblock title %} 
{% block content %} 
 
  <br/> 
   <div class="container-fluid text-sm-center p-5 bg-info text-white ">  
     <h1 class="display-2">Welcome to Bizaar</h1> 
    <p class="lead">The best way to buy and sell items online</p> 
 
    <p><a class="btn btn-primary btn-lg" href="{% url 'advert_list' %}" 
 
      role="button" >View all Adverts</a></p> 
 </div> 
 <br>
 {% if user.is_authenticated != True %} 
  <div class="container-fluid text-sm-center p-5 bg-info text-white ">  
    <h1 class="display-2">Log In</h1> 
    <a href="{% url 'login' %}" class="btn btn-outlinesecondary"> </a> 

    <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}" 

    role="button" >Log In</a></p> 
    
    <h1 class="display-2">Sign Up</h1> 
    <a href="{% url 'signup' %}" class="btn btn-outlinesecondary"> </a> 

    <p><a class="btn btn-primary btn-lg" href="{% url 'signup' %}" 

    role="button" >Sign Up</a></p> 

  </div> 
{% endif %} 
 {% endblock content %} 
